<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="https://avatars3.githubusercontent.com/u/33315316?s=200&v=4">
    </a>
    <h1>Tracking Trustless' Competition</h1>
    <p>since 2019!</p>
    <a type="button" class="btn btn-lg btn-default" href="https://trustless.ethfinex.com" target="_blank"><span class="glyphicon glyphicon-flash"></span> Trade on trustless</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/hems/ethfinex-trading-competition" target="_blank"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Make sure you come visit us at <a href="https://www.ethfinex.com" class="alert-link">ethfinex.com</a> !
  </div>
  <hr>
</div>


</body>
</html>
