<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="https://ethfinex.com" target="_blank"><span class="glyphicon glyphicon-user"></span> Ethfinex</a>
      </li>
      <li>
        <a href="/api/v1/results" target="_blank"><span class="glyphicon glyphicon-info-sign"></span> Current Results</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://ethfinex.com" target="_blank"><span class="glyphicon glyphicon-book"></span> Help!</a>
      </li>
    </ul>
  </div>
</nav>
